{% extends 'base.html' %}

{% block head %}  

<title>Dashboard</title>

{% endblock %}


{% block body %} 
    <div class="booklist">
     
        <h3 style="text-align: center; font-family: arial, sans-serif;">Update Information</h3>
        <br>
        <form action="/update/{{book.id}}" method="POST">
            <tr>
            <th><label for="title">Title of the Book</label></th>
            <td><input type="text" name="title" id="title" value="{{book.title}}"></td>
            <th><label for="author">Author Name</label></th>
            <td><input type="text" name="author" id="author" value="{{book.author}}"></td>
            <th><label for="count">Available (Copies)</label></th>
            <td><input type="text" name="count" id="count" value="{{book.count}}"></td>
            <td><input type="submit" value="Update"></td> 
            </tr>
        </form>
        
    </div>

{% endblock %}